extends layout

block content
   h1 Please select the file(s) you wish to upload

   form(method="POST" action="/myupload" enctype="multipart/form-data")
      input(type="file" name="myfile" accept=".png" multiple)
      input(type="submit", value="Send", method="POST")
   p
      em only "png" files are accepted!





